<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
</head>
<body>
<div layout:fragment="main-content">
  <div class="contact-section">
    <p class="lead">
      <strong>Athos Exarchou:</strong>
      <a href="mailto:it2022134@hua.gr" class="email-link">it2022134@hua.gr</a>
    </p>
    <p class="lead">
      <strong>Alexandros Zarkalis:</strong>
      <a href="mailto:it22149@hua.gr" class="email-link">it22149@hua.gr</a>
    </p>
  </div>
</div>
</body>
</html>