<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
</head>
<body>
<div layout:fragment="main-content">
  <div class="contact-section">
    <p class="lead">
      <strong>Real Estate:</strong>
      <a href="mailto:realestate2025project@gmail.com" class="email-link">realestate2025project@gmail.com</a>
    </p>
  </div>
</div>
</body>
</html>
